body{
    height: 100vh;
    background-image: linear-gradient(rgb(198, 200, 226), rgb(109,39,239));
}
.container{
    max-width: 800px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 15px;
}
.message{
    background-color: rgb(151, 140, 140);
    max-width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 75%;
    border: 2px solid black;
    border-radius: 6px;
    height: 20px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 30px;
}